- incenses.group_by{|i| i.created_at.beginning_of_day }.each do |date, dairy_incenses|
  %h3
    %small= date.strftime("%Y/%m/%d")
  %ul.list-group
    - dairy_incenses.each do |incense|
      %li.list-group-item
        %span.badge
          = incense.created_at.strftime("%Y/%m/%d %H:%M:%S")
        - if incense.user.image
          = image_tag incense.user.image, :size => "22x22", class: "img-rounded"
        = link_to incense.user.nickname, user_path(incense.user.nickname)
