- last_date = Date.tomorrow
- incenses.each do |incense|
  - if last_date.beginning_of_day > incense.created_at.beginning_of_day
    %h3
      %small= incense.created_at.strftime("%Y/%m/%d")
    %ul.list-group
      = render partial: "incenses/incense", locals: {incense: incense}
  - else
    = render partial: "incenses/incense", locals: {incense: incense}
  - last_date = incense.created_at
