- if current_user
  = link_to incenses_path, method: :post, remote: true, class: "burn-incense btn btn-primary btn-lg btn-block" do
    線香をあげる
- else
  = link_to "auth/github", class: "burn-incense btn btn-primary btn-lg btn-block" do
    = fa_icon "github"
    GitHub でサインインして線香をあげる
%hr
%p
  %H2 最近あげられた線香
  #incenses
    = render partial: "incenses", locals: {incenses: @incenses}
